

.snake {
  background-color: green;
  width: 20px;
  height: 20px;
  position: relative;
}

#head {
    top: 80px;
    left: 40px;
  background-color: darkgreen;
  width: 20px;
  height: 20px;
  position: absolute;
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
#apple{
    background-color: red;
    left: 20px;
    top: 40px;
    width: 20px;
  height: 20px;
  position: absolute;
}

